body {
  margin: 0 auto;
  width: 1200px;
  background: rgb(235, 239, 240);
}
.main-div {
  margin: 0px 20px;
  padding: 2px 40px;
  background: #fff;
}

.search {
  padding: 10px;
  width: 400px;
  margin-bottom: 40px;
}

.grid-wrapper {
  margin-top: 20px;
}
